.donate {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 80px 0px;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  span {
    text-align: center;
  }
}
.container {
  display: flex;
  justify-content: center; /* 水平居中 */
  overflow: hidden; /* 隱藏超出容器的部分 */
  .options {
    display: flex;
    width: 2196px;
    align-items: flex-start;
    gap: 24px;
  }
}

.active {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 50px;
  background: var(--netural2-color);
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
  span {
    color: var(--neutral1-color);
    text-align: center;
  }
}
