.policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 309px;
  gap: 80px;
}
.content {
  display: flex;
  flex-direction: row;
}
.more{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    cursor: pointer;
}
