.header {
  min-height: 900px;
  background: url("../../public/news-bg.jpg"), lightgray 50% / cover no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
}

.lastnews {
  position: absolute;
  top: 40%;
  right: 10%;
  display: flex;
}

.newscards {
  position: relative;
}
