:root {
  --primary-color: #c87336;
  --neutral1-color: #fffbf8;
  --netural2-color: #105ea7;
  --netural3-color: #e4d3cc;
  --text-color: #454545;
}

@font-face {
  font-family: "Noto Sans TC";
  src: url("../public/fonts/NotoSansTC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
  background-color: #e4d3cc;
}

.primary-bg-color {
  background-color: var(--primary-color);
}

.neutral1-bg-color {
  background-color: var(--neutral1-color);
}

.neutral2-bg-color {
  background-color: var(--netural2-color);
}

.neutral3-bg-color {
  background-color: var(--netural3-color);
}

.h1 {
  color: var(--text-color);
  font-family: "Noto Serif TC";
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.h2 {
  color: var(--text-color);
  font-family: "Noto Sans TC";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 16px;
}

.h3 {
  color: var(--text-color);
  /* h3-28-blod */
  font-family: "Noto Sans TC";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 16px;
}

.h4 {
  color: var(--text-color);
  /* h4-24-regular */
  font-family: "Noto Sans TC";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 8px;
}

.h5 {
  color: var(--text-color);
  /* h5-20-regular */
  font-family: "Noto Sans TC";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 16px;
}

.h6 {
  color: var(--text-color);
  /* h6-16-regular */
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
}
