.issue {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  //   flex-basis: 25%;
  //   max-width: 1295px;

  .index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 86px;
    background-color: var(--primary-color);
    span {
      color: var(--neutral1-color);
    }
  }

  .title {
    text-align: center;
    width: 416px;
    span {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 10px;
    }
  }

  .contents {
    ol {
      width: 686px;
    }
  }
}
